.browser-mockup-detailed {
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    font-family: Arial, sans-serif;

    /* scale 16:9 */
    height: 1100px;
}

.browser-title-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e0e0e0;
    height: 30px;
    padding: 0 10px;
}

.circles {
    display: flex;
    gap: 6px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.circle.red {
    background-color: #ff605c;
}

.circle.yellow {
    background-color: #ffbd44;
}

.circle.green {
    background-color: #00ca4e;
}

.browser-url-bar {
    background-color: #f7f7f7;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    border-bottom: 1px solid #ccc;

    display: flex;
    align-items: center;
    gap: 10px;
}

.url-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.url-live {
    color: #0000ee;
    cursor: pointer;
    text-decoration: underline;
}

.browser-content {
    padding: 20px;
    background-color: #ffffff;
    height: calc(100% - 60px);
}
